/* Main Layout */
/* Violet Theme Colors */
:root {
  --nc-font-sans: "Fira Code", "Nanum Gothic Coding", "M PLUS 1 Code", "Inter",
    monospace;
  --nc-font-mono: "Fira Code", "Nanum Gothic Coding", "M PLUS 1 Code", monospace;
  --nc-bg-1: #e6e6fa;
  --nc-tx-1: #4b0082;
  --nc-accent-color: #8a2be2;
  --nc-accent-hover-color: #9d48ff;

  --nc-header-bg: #f2e6ff;
  --nc-border-color: #d8c0ff;
  --nc-table-header-bg: #c3a3e6;
}

table.dataTable tbody tr:nth-child(even) {
  background-color: #f2e6ff;
}

table.dataTable tbody tr:nth-child(odd) {
  background-color: #ded6fd;
}

table.dataTable tbody tr:hover {
  background-color: #d8c0ff !important;
}

/* Dark Mode Colors */
@media (prefers-color-scheme: dark) {
  :root {
    --nc-bg-1: #1e003a;
    --nc-tx-1: #d8bfd8;
    --nc-accent-color: #8a2be2;
    --nc-accent-hover-color: #9d48ff;
    --nc-header-bg: #272041;
    --nc-border-color: #3b3a5b;
    --nc-table-header-bg: #3a2a5e;
  }

  /* Dark Mode Table Rows */
  table.dataTable tbody tr:nth-child(even) {
    background-color: #272041;
  }

  table.dataTable tbody tr:nth-child(odd) {
    background-color: #2f2a4f;
  }

  /* Hover effect for dark mode table rows */
  table.dataTable tbody tr:hover {
    background-color: #3b3a5b !important;
  }

  hr {
    border-bottom: 1px solid #222222;
  }
}

body {
  max-width: 75%;
}

h2 {
  border-bottom: 0px;
}

hr {
  border-bottom: 1px solid #d8c0ff;
}

a {
  color: var(--nc-tx-1);
  text-decoration: none;
}

a:hover {
  color: var(--nc-accent-color);
  text-decoration: underline;
}

a button {
  background-color: var(--nc-accent-color);
  color: #f0e6ff;
}

a button:hover {
  background-color: var(--nc-accent-hover-color);
}

.video_wrap {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video_wrap iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Chart Layout */
details {
  color: var(--nc-tx-1);
}

details th,
details td {
  border: 1px solid var(--nc-border-color);
  color: var(--nc-tx-1);
}

#changelogText {
  width: 100%;
  height: 25vh;
  font-family: var(--nc-font-sans);
  background-color: var(--nc-header-bg);
  color: var(--nc-tx-1);
  border: 1px solid var(--nc-border-color);
}

.tableframe {
  overflow: auto;
}

th {
  background: var(--nc-header-bg);
}

td {
  border: 0px;
}

#tableDiff {
  width: 100%;
}

#tableDiff th {
  text-align: center;
  white-space: nowrap;
  font-size: 0.9em;
  color: var(--nc-tx-1);
}

#tableDiff td {
  text-align: center;
  font-size: 0.85em;
}

.text-nowrap {
  white-space: nowrap;
}

details {
  background-color: var(--nc-header-bg);
}

details table {
  background-color: transparent;
}
